<p id="notice"><%= notice %></p>

<h1>Meus Dados</h1>
<% @profiles.each do |profile| %>
  
  <p>
    <strong>Nome:</strong>
    <%= profile.name %>
  </p>

  <p>
    <strong>Sobrenome:</strong>
    <%= profile.last_name %>
  </p>
  
  <p>
    <strong>Data de Nascimento:</strong>
    <%= "#{l(profile.birth)}" %>
  </p>
  
  <p>
    <strong>Sexo:</strong>
    <%= profile.sex %>
  </p>
  
  <p>
    <strong>Email:</strong>
    <%= profile.user.email %>
  </p>
  
  <p>
    <strong>Função:</strong>
    <%= profile.office.name %>
  </p>
  <%= link_to 'Alterar Dados', edit_profile_path(profile) %>
</br></br></br></br>
<% end %>