<div id="profile">
  <p id="notice"><%= notice %></p>

  <h3 id="title">Meus Dados</h3>
  <% @profiles.each do |profile| %>
    
    <strong>Nome - <%= "#{profile.name} " " "" #{profile.last_name}" %></strong>
    </br>

    <strong>Data de Nascimento - </strong>
      <%= "#{l(profile.birth)}" %>
    </br>

    <strong>Sexo - </strong>
      <%= profile.sex %>
    </br>

    <strong>Email - </strong>
      <%= profile.user.email %>
    </br>

    <strong>Função - </strong>
      <%= profile.office.name %>
    </br>
    <div id="btn-block">
      <%= link_to 'Alterar Dados', edit_profile_path(profile), class: 'btn', :id => 'btn-profile'%>
      <%= link_to 'Voltar', request.referer, class: 'btn', :id => 'btn-profile' %>
      <%= link_to "Trocar Senha", edit_user_registration_path, class: 'btn', :id => 'btn-profile' %>
    </div>
  <% end %>
</div>