<div id="profile-show">
  <strong id="notice"><%= notice %></strong>

  <strong>Nome - <%= "#{@profile.name} " " "" #{@profile.last_name}" %></strong>
  <%= @profile.name %>
  </br>

  <strong>Data de Nascimento - </strong>
    <%= "#{l(@profile.birth)}" %>
  </br>

  <strong>Sex0 - </strong>
    <%= @profile.sex %>
  </br>

  <strong>Email - </strong>
    <%= @profile.user.email %>
  </br>

  <strong>Função - </strong>
    <%= @profile.office.name %>
  </br>

  <%= link_to 'Editar', edit_profile_path(@profile) , class: 'btn'%>
  <%= link_to 'Voltar', profiles_path, class: 'btn' %>
</div>