<div class='new-observation'>
  <strong>Editar comentário: </strong>
  <%= form_for(@observation) do |f| %>
    <% if @observation.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@observation.errors.count, "error") %> prohibited this observation from being saved:</h2>
  
        <ul>
        <% @observation.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    <%= f.text_area :description, placeholder: 'Digite aqui seu comentário...' %>
          
    <%= f.submit 'Salvar', class:'btn' %>
    <%= link_to 'Voltar', request.referer, class:'btn'%>
  <% end %>
</div>