<div id="novo-processo">
  <h3 id="title">Novo Processo</h3>
  <%= form_for([@client, @client.lawsuits.new]) do |f| %>
    <% if lawsuit.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(lawsuit.errors.count, "error") %> prohibited this lawsuit from being saved:</h2>

        <ul>
        <% lawsuit.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div id="processo-number">
      <%= f.label :number %>
      <%= f.text_field :number %>
    </div>

    <div id="processo-assessment">
      <%= f.label :assessment %>
      <%= f.date_select :assessment %>
    </div>

    <div id="processo-description">
      <%= f.label :description %>
      <%= f.text_area :description %>
    </div>

    <div id="processo-amount">
      <%= f.label :amount %>
      <%= f.text_field :amount %>
    </div>

    <div id="processo-venue">
      <%= f.label :venue_id %>
      <%= f.collection_select(:venue_id, Venue.all, :id, :name, {include_blank: true})%>
    </div>

    <div id="processo-kind">
      <%= f.label :kind_id %>
      <%= f.collection_select(:kind_id, Kind.all, :id, :name, {include_blank: true})%>
    </div>

    <div id="processo-status">
      <%= f.label :status_id %>
      <%= f.collection_select(:status_id, Status.all, :id, :name, {include_blank: true})%>
    </div>
    <div id="btn-block">
      <%= f.submit 'Salvar', class: 'btn' %>
    </div>
  <% end %>
</div>