<div id="dv-search">
  <strong id="notice"><%= notice %></strong>
  <%= search_form_for @q do |f| %>
    <div id="fields-search"><%= f.search_field :number_cont, placeholder: 'Nº processo' %></div>
    <%= f.submit 'Pesquisar', class: 'btn', :id => 'btn-searchl'%>
  <% end %>
  <%= link_to 'Novo', clients_path, class: 'btn', :id => 'btn-novol' %>
</div>
<div class="main">
  <table>
    <thead>
      <tr>
        <th class="title-tb">Processo</th>
        <th class="title-tb">Cliente</th>
        <th class="title-tb">Status</th>
      </tr>
    </thead>
  
    <tbody>
      <% @lawsuits.each do |lawsuit| %>
        <tr>
          <td class="nro-processo"><%= link_to lawsuit.number, lawsuit %></td>
          <td><%= link_to lawsuit.client.name, lawsuit.client %></td>
          <td><%= lawsuit.status.name %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div class="paginate"><%= will_paginate @lawsuits %></div>
</div>