<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
  <%= @lawsuit.number %>
</p>

<p>
  <strong>Assessment:</strong>
  <%= @lawsuit.assessment %>
</p>

<p>
  <strong>Description:</strong>
  <%= @lawsuit.description %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @lawsuit.amount %>
</p>
<p>
  <strong>Amount paid:</strong>
  <%= @lawsuit.amount_paid %>
</p>
<p>
  <strong>User:</strong>
  <%= @lawsuit.user.email %>
</p>

<p>
  <strong>Client:</strong>
  <%= @lawsuit.client.name %>
</p>

<p>
  <strong>Venue:</strong>
  <%= @lawsuit.venue.name %>
</p>

<p>
  <strong>Kind:</strong>
  <%= @lawsuit.kind.name %>
</p>

<p>
  <strong>Status:</strong>
  <%= @lawsuit.status.name %>
</p>

<h3>Comentários</h3>
<table>
  <thead>
    <tr>
      <th>-----------</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @lawsuit.observations.each do |observation| %>
      <tr>
        <td><%= observation.description %></td>
        <td><%= link_to 'Editar', edit_observation_path(observation) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Edit', edit_lawsuit_path(@lawsuit) %> |
<%= link_to 'Back', lawsuits_path %>
<strong><%= link_to 'Adicionar Observação', new_lawsuit_observation_path(lawsuit_id: @lawsuit.id) %></strong>
<strong><%= link_to 'Realizar Pagamento', new_lawsuit_payment_path(lawsuit_id: @lawsuit.id) %></strong>