<div class="info-processo">
  <strong id="notice"><%= notice %></strong>
  <strong id="processo">Processo - 
  <%= @lawsuit.number %></strong>
  </br>

  <strong>Data Abertura - </strong>
  <%= "#{l(@lawsuit.assessment)}" %>
  </br>

  <strong>Descrição - </strong>
  <%= @lawsuit.description %>
  </br>

  <strong>Valor Total - </strong>
  <%= "R$ #{@lawsuit.amount}" %>
  </br>

  <strong>Valor pago - </strong>
  <%= "R$ #{@lawsuit.amount_paid}" %>
  </br>
  
  <strong>Valor Restante - </strong>
  <%= "R$ #{@lawsuit.amount_rest}" %>
  </br>
  
  <strong>Advogado - </strong>
  <%= @lawsuit.user.email %>
  </br>

  <strong>Cliente - </strong>
  <%= @lawsuit.client.name %>
  </br>

  <strong>Vara - </strong>
  <%= @lawsuit.venue.name %>
  </br>

  <strong>Natureza - </strong>
  <%= @lawsuit.kind.name %>
  

  <strong>| Status - </strong>
  <%= @lawsuit.status.name %>
  </br>
  <hr>
  <ul class="option">
    <li><%= link_to 'Voltar', lawsuits_path %></li>
    <li><%= link_to 'Editar', edit_lawsuit_path(@lawsuit) %></li>
    <li><%= link_to 'Excluir', @lawsuit, method: :delete, data: { confirm: 'Você tem certeza?' } %></li>
  </ul>
  <hr>
</div>

<div class="share">
  <strong>Compartilhado com</strong>
  <div class="main">
    <table>
      <thead>
        <tr>
          <th class="title-tb">Usuário</th>
        </tr>
      </thead>
  
      <tbody>
        <% @share.each do |share| %>
          <tr>
            <td><%= share.email %></td>
            <td><%= link_to 'Excluir', share, method: :delete, data: { confirm: 'Você tem certeza?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= link_to 'Compartilhar', new_lawsuit_share_path(lawsuit_id: @lawsuit.id), class: 'btn btn-novo' %>
  </div>
  <div class="paginate"><%= will_paginate @share, param_name: 'share'  %></div>
</div>
<div class="comentario">
  <strong>Comentários</strong>
  <div class="main">
    <table>
      <thead>
        <tr>
          <th class="title-tb">Texto</th>
          <th class="title-tb">Escrito por</th>
        </tr>
      </thead>
  
      <tbody>
        <% @observation.each do |observation| %>
          <tr>
            <td><%= observation.description %></td>
            <td><%= observation.user.email %></td>
            <td><%= link_to 'Editar', edit_observation_path(observation) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= link_to 'Comentar', new_lawsuit_observation_path(lawsuit_id: @lawsuit.id), class:'btn btn-novo' %>
    <div class="paginate"><%= will_paginate @observation, param_name: 'observation'  %></div>
  </div>
</div>

<div class="anexo">
  <strong>Arquivos</strong>
  <div class="main">
    <table>
      <thead>
        <tr>
          <th class="title-tb">Descrição</th>
          <th class="title-tb">Responsável</th>
        </tr>
      </thead>
  
      <tbody>
        <% @annex.each do |annex| %>
          <tr>
            <td><%= link_to annex.description, annex.document.url, :target => "_blank"%></td>
            <td><%= annex.user.email %></td>
            <td><%= link_to 'Editar', edit_annex_path(annex) %></td>
            <td><%= link_to 'Excluir', annex, method: :delete, data: { confirm: 'Você tem certeza?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= link_to 'Adicionar Arquivo', new_lawsuit_annex_path(lawsuit_id: @lawsuit.id), class: 'btn btn-novo' %>
  </div>
  <div class="paginate"><%= will_paginate @annex, param_name: 'annex'  %></div>
</div>

<div class="pagamento">
  <strong>Pagamentos</strong>
  <div class="main">
    <table>
      <thead>
        <tr>
          <th class="title-tb">Valor Pago</th>
          <th class="title-tb">Data</th>
        </tr>
      </thead>
  
      <tbody>
        <% @payment.each do |payment| %>
          <tr>
            <td><%= payment.amount %></td>
            <td><%= "#{l(payment.created_at)}" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <%= link_to 'Pagamento', new_lawsuit_payment_path(lawsuit_id: @lawsuit.id), class: 'btn btn-novo' %>
  <div class="paginate"><%= will_paginate @payment %></div>
</div>