<p id="notice"><%= notice %></p>

<p>
  <strong>Número:</strong>
  <%= @lawsuit.number %>
</p>

<p>
  <strong>Data Abertura:</strong>
  <%= @lawsuit.assessment %>
</p>

<p>
  <strong>Descrição:</strong>
  <%= @lawsuit.description %>
</p>

<p>
  <strong>Valor Total:</strong>
  <%= @lawsuit.amount %>
</p>
<p>
  <strong>Valor pago:</strong>
  <%= @lawsuit.amount_paid %>
</p>
<p>
  <strong>Advogado:</strong>
  <%= @lawsuit.user.email %>
</p>

<p>
  <strong>Cliente:</strong>
  <%= @lawsuit.client.name %>
</p>

<p>
  <strong>Vara:</strong>
  <%= @lawsuit.venue.name %>
</p>

<p>
  <strong>Natureza:</strong>
  <%= @lawsuit.kind.name %>
</p>

<p>
  <strong>Status:</strong>
  <%= @lawsuit.status.name %>
</p>

<h3>Comentários</h3>
<table>
  <thead>
    <tr>
      <th>-----------</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @lawsuit.observations.each do |observation| %>
      <tr>
        <td><%= observation.description %></td>
        <td><%= link_to 'Editar', edit_observation_path(observation) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h1>Pagamentos</h1>

<table>
  <thead>
    <tr>
      <th>Amount</th>
      <th>Date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @lawsuit.payments.each do |payment| %>
      <tr>
        <td><%= payment.amount %></td>
        <td><%= payment.created_at%></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'Excluir', @lawsuit, method: :delete, data: { confirm: 'Você tem certeza?' } %>
<%= link_to 'Editar', edit_lawsuit_path(@lawsuit) %> |
<%= link_to 'Voltar', lawsuits_path %>
<strong><%= link_to 'Adicionar Observação', new_lawsuit_observation_path(lawsuit_id: @lawsuit.id) %></strong>
<strong><%= link_to 'Realizar Pagamento', new_lawsuit_payment_path(lawsuit_id: @lawsuit.id) %></strong>