<div class="info-processo">
  <strong id="notice"><%= notice %></strong>
  <strong id="processo">Processo - 
  <%= @lawsuit.number %></strong>
  </br>

  <strong>Data Abertura - </strong>
  <%= "#{l(@lawsuit.assessment)}" %>
  </br>

  <strong>Descrição - </strong>
  <%= @lawsuit.description %>
  </br>

  <strong>Valor Total - </strong>
  <%= "R$ #{@lawsuit.amount}" %>
  </br>

  <strong>Valor pago - </strong>
  <%= "R$ #{@lawsuit.amount_paid}" %>
  </br>
  
  <strong>Valor Restante - </strong>
  <%= "R$ #{@lawsuit.amount_rest}" %>
  </br>
  
  <strong>Advogado - </strong>
  <%= @lawsuit.user.email %>
  </br>

  <strong>Cliente - </strong>
  <%= @lawsuit.client.name %>
  </br>

  <strong>Vara - </strong>
  <%= @lawsuit.venue.name %>
  </br>

  <strong>Natureza - </strong>
  <%= @lawsuit.kind.name %>
  </br>

  <strong>Status - </strong>
  <%= @lawsuit.status.name %>
  </br>
  <hr>
  <ul class="option">
    <li><%= link_to 'Voltar', lawsuits_path %></li>
    <li><%= link_to 'Editar', edit_lawsuit_path(@lawsuit) %></li>
    <li><%= link_to 'Excluir', @lawsuit, method: :delete, data: { confirm: 'Você tem certeza?' } %></li>
  </ul>
  <hr>
</div>

<div class="share">
  <h3>Compartilhado com</h3>
  <%= link_to 'Compartilhar', new_lawsuit_share_path(lawsuit_id: @lawsuit.id), class: 'btn btn-novo' %>
  <table>
    <thead>
      <tr>
        <td>Email</td>
      </tr>
    </thead>

    <tbody>
      <% @share.each do |share| %>
        <tr>
          <td><%= share.email %></td>
          <td><%= link_to 'Excluir', share, method: :delete, data: { confirm: 'Você tem certeza?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div class="paginate"><%= will_paginate @share, param_name: 'share'  %></div>
</div>

<div class="comentario">
  <h3>Comentários</h3>
  <%= link_to 'Comentar', new_lawsuit_observation_path(lawsuit_id: @lawsuit.id), class:'btn btn-novo' %>
  <table>
    <thead>
      <tr>

      </tr>
    </thead>

    <tbody>
      <% @observation.each do |observation| %>
        <tr>
          <td><%= observation.description %></td>
          <td><%= observation.lawsuit_id %></td>
          <td><%= link_to 'Editar', edit_observation_path(observation) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div class="paginate"><%= will_paginate @observation, param_name: 'observation'  %></div>
</div>

<div class="anexo">
  <h3>Arquivos</h3>
  <%= link_to 'Adicionar Arquivo', new_lawsuit_annex_path(lawsuit_id: @lawsuit.id), class: 'btn btn-novo' %>
  <table>
    <thead>
      <tr>
      <td>Descrição</td>
      <td>Responsável</td>
      </tr>
    </thead>

    <tbody>
      <% @annex.each do |annex| %>
        <tr>
          <td><%= annex.description %></td>
          <td><%= annex.user.email %></td>
          <td><%= link_to 'Visualizar Arquivo', annex.document.url, :target => "_blank"%></td>
          <td><%= link_to 'Editar Descrição', edit_annex_path(annex) %></td>
          <td><%= link_to 'Excluir Arquivo', annex, method: :delete, data: { confirm: 'Você tem certeza?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div class="paginate"><%= will_paginate @annex, param_name: 'annex'  %></div>
</div>

<div class="pagamento">
  <h3>Pagamentos</h3>
  <%= link_to 'Pagamento', new_lawsuit_payment_path(lawsuit_id: @lawsuit.id), class: 'btn btn-novo' %>
  <table>
    <thead>
      <tr>
        <th>Valor Pago</th>
        <th>Data</th>
      </tr>
    </thead>

    <tbody>
      <% @payment.each do |payment| %>
        <tr>
          <td><%= payment.amount %></td>
          <td><%= payment.created_at%></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div class="paginate"><%= will_paginate @payment %></div>
</div>