<div class='new-annex'>
  <strong>Novo Arquivo</strong>
  <%= form_for [@lawsuit, @lawsuit.annexes.new], html: { multipart: true } do |f| %>
    <% if annex.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(annex.errors.count, "error") %> prohibited this annex from being saved:</h2>
  
        <ul>
        <% annex.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
  
    <%= f.label :description %>
    <%= f.text_area :description, placeholder:'Digite a descrição aqui....' %>
  
    <%= f.label :document %>
    <%= f.file_field :document %>
    
    <div class='btn-block'>
      <%= f.submit 'Salvar', class:'btn' %>
      <%= link_to 'Voltar', @lawsuit, class:'btn'%>
    </div>
  <% end %>
</div>