<p id="notice"><%= notice %></p>

<h1>Annexes</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Lawsuit</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @annexes.each do |annex| %>
      <tr>
        <td><%= annex.user %></td>
        <td><%= annex.lawsuit %></td>
        <td><%= annex.description %></td>
        <td><%= link_to 'Show', annex %></td>
        <td><%= link_to 'Edit', edit_annex_path(annex) %></td>
        <td><%= link_to 'Destroy', annex, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Annex', new_annex_path %>
