<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @annex.description %>
</p>

<p>
  <strong>Lawsuit:</strong>
  <%= @annex.lawsuit.number %>
</p>

<p>
  <strong>User:</strong>
  <%= @annex.user.email %>
</p>


<p>
 
  <%= link_to 'Visualizar Arquivo', @annex.document.url %>
</p>

<%= link_to 'Edit', edit_annex_path(@annex) %> |
<%= link_to 'Back', annexes_path %>
