<div id='novo-cliente'>
  <%= form_for(client) do |f| %>
    <% if client.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(client.errors.count, "error") %> prohibited this client from being saved:</h2>

        <ul>
          <% client.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <%= f.label :name %>
    <%= f.text_field :name %>
    
    <%= f.label :lastname %>
    <%= f.text_field :lastname %>
 
    <%= f.label :born %>
    <%= f.date_select :born, :start_year => 2000, :end_year => 1927, include_blank: true %>

    <%= f.label :sex %>
    <%= f.select(:sex, ['Masculino', 'Feminino'], {include_blank: true})%>

    <%= f.label :cpf %>
    <%= f.text_field :cpf %>
 
    <%= f.label :rg %>
    <%= f.text_field :rg %>

    <%= f.label :email %>
    <%= f.text_field :email %>

    <%= f.label :telephone %>
    <%= f.text_field :telephone %>

    <%= f.label :celphone %>
    <%= f.text_field :celphone %>

    <%= f.label :bio %>
    <%= f.text_area :bio %>

    <%= f.fields_for :address do |ff| %>
      <%= ff.label :addresstype %>
      <%= ff.select(:addresstype, ['Residencial', 'Comercial'], {include_blank: true})%>

      <%= ff.label :street %>
      <%= ff.text_field :street %>

      <%= ff.label :district %>
      <%= ff.text_field :district %>

      <%= ff.label :city %>
      <%= ff.text_field :city %>

      <%= ff.label :state %>
      <%= ff.text_field :state %>

      <%= ff.label :country %>
      <%= ff.text_field :country %>

      <%= ff.label :zipcode %>
      <%= ff.text_field :zipcode %>
    <% end %>
    <div id="btn-block">
      <%= link_to 'Voltar', clients_path, class: 'btn', :id => 'btn-voltar' %>
      <%= f.submit 'Salvar', class: 'btn', :id=>'btn-salvar' %>
    </div>
  <% end %>
</div>