<%= form_for(client) do |f| %>
  <% if client.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(client.errors.count, "error") %> prohibited this client from being saved:</h2>

      <ul>
        <% client.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
<% end %>

<div class="new-client">
  <h6 class="new-title-client">Cliente</h6>
  <h6 class="new-icon-client"><i class="material-icons">supervisor_account</i><h6>
</div>

<div class="new-client">
    <%= f.label :name %>
    <%= f.text_field :name %>
    
    <%= f.label :lastname %>
    <%= f.text_field :lastname %>

 
    <%= f.label :born %>
    <%= f.date_select :born %>

    <%= f.label :sex %>
    <%= f.select(:sex, ['Masculino', 'Feminino'], {include_blank: true})%>

    <%= f.label :cpf %>
    <%= f.text_field :cpf %>
 
    <%= f.label :rg %>
    <%= f.text_field :rg %>

    <%= f.label :bio %>
    <%= f.text_area :bio %>
  </div>

<div class="new-client">
  <h6 class="new-title-client">Contato</h6>
  <h6 class="new-icon-client"><i class="material-icons">supervisor_account</i><h6>
</div>

<div class="new-client">
  <%= f.label :email %>
   <%= f.text_field :email %>

  <%= f.label :telephone %>
  <%= f.text_field :telephone %>

  <%= f.label :celphone %>
  <%= f.text_field :celphone %>

</div>    
<!-- Address FIELDS -->
<%= f.fields_for :address do |ff| %>
  <div class="new-client">
    <h6 class="new-title-client">Endereço</h6>
    <h6 class="new-icon-client"><i class="material-icons">supervisor_account</i><h6>
  </div>

  <div class="new-client">
    <%= ff.label :addresstype %>
    <%= ff.select(:addresstype, ['Residencial', 'Comercial'], {include_blank: true})%>

    <%= ff.label :street %>
    <%= ff.text_field :street %>

    <%= ff.label :district %>
    <%= ff.text_field :district %>

    <%= ff.label :city %>
    <%= ff.text_field :city %>

    <%= ff.label :state %>
    <%= ff.text_field :state %>

    <%= ff.label :country %>
    <%= ff.text_field :country %>

    <%= ff.label :zipcode %>
    <%= ff.text_field :zipcode %>
  </div>
<% end %>
<!-- Address FIELDS -->
<ul class="links-new-client">
  <li>
    <%= button_tag do %>
      <span class="material-icons">save</span><h6>Salvar</h6>
    <% end %>
  </li>
    <li>
      <%= link_to clients_path do %>
        <span class="material-icons">arrow_back</span><h6>Voltar</h6>
      <% end %>
    </li>
    <li>
      <%= link_to root_path do %>
        <span class="material-icons">home</span><h6>Início</h6>
      <% end %>
    </li>
</ul>
<% end %>