<div id='novo-cliente'>
  <%= form_for(client) do |f| %>
    <% if client.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(client.errors.count, "error") %> prohibited this client from being saved:</h2>

        <ul>
          <% client.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div id="title"><h3>Cadastro de Cliente</h3></div>
    <div id="cliente-name">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>
    <div id="cliente-lname">
      <%= f.label :lastname %>
      <%= f.text_field :lastname %>
    </div>
    <div id="cliente-born">
      <%= f.label :born %>
      <%= f.date_select :born, :start_year => 2000, :end_year => 1927, include_blank: true %>
    </div>
    <div id="cliente-sex">
      <%= f.label :sex %>
      <%= f.select(:sex, ['Masculino', 'Feminino'], {include_blank: true})%>
    </div>
    <div id="cliente-cpf">
      <%= f.label :cpf %>
      <%= f.text_field :cpf %>
    </div>
    <div id="cliente-rg">
      <%= f.label :rg %>
      <%= f.text_field :rg %>
    </div>
    <div id="cliente-email">
      <%= f.label :email %>
      <%= f.text_field :email %>
    </div>
    <div id="cliente-telephone">
      <%= f.label :telephone %>
      <%= f.text_field :telephone %>
    </div>
    <div id="cliente-celphone">
      <%= f.label :celphone %>
      <%= f.text_field :celphone %>
    </div>
    <div id="cliente-bio">
      <%= f.label :bio %>
      <%= f.text_area :bio %>
    </div>

    <%= f.fields_for :address do |ff| %>
      <div id="cliente-addresstype">
        <%= ff.label :addresstype %>
        <%= ff.select(:addresstype, ['Residencial', 'Comercial'], {include_blank: true})%>
      </div>
      <div id="cliente-street">
        <%= ff.label :street %>
        <%= ff.text_field :street %>
      </div>
      <div id="cliente-district">
        <%= ff.label :district %>
        <%= ff.text_field :district %>
      </div>
      <div id="cliente-city">
        <%= ff.label :city %>
        <%= ff.text_field :city %>
      </div>
      <div id="cliente-state">
        <%= ff.label :state %>
        <%= ff.select(:state, ['AC','AL', 'AP', 'AM','BA','CE','DF','ES','GO', 'MA','MT','MS', 'MG','PA', 'PB','PR','PE','PI','RJ','RN', 'RS','RO','RR','SC','SP','SE','TO'], {include_blank: true}) %>
      </div>
      <div id="cliente-zipcode">
        <%= ff.label :zipcode %>
        <%= ff.text_field :zipcode %>
      </div>
    <% end %>
    <div id="btn-block">
      <%= link_to 'Voltar', clients_path, class: 'btn', :id => 'btn-voltar' %>
      <%= f.submit 'Salvar', class: 'btn', :id=>'btn-salvar' %>
    </div>
  <% end %>
</div>