<%= form_for(client) do |f| %>
  <% if client.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(client.errors.count, "error") %> prohibited this client from being saved:</h2>

      <ul>
      <% client.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :born %>
    <%= f.date_select :born %>
  </div>

  <div class="field">
    <%= f.label :sex %>
    <%= f.select(:sex, ['Masculino', 'Feminino'], {include_blank: true})%>
  </div>

  <div class="field">
    <%= f.label :cpf %>
    <%= f.text_field :cpf %>
  </div>

  <div class="field">
    <%= f.label :rg %>
    <%= f.text_field :rg %>
  </div>

  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>

  <div class="field">
    <%= f.label :telephone %>
    <%= f.text_field :telephone %>
  </div>

  <div class="field">
    <%= f.label :celphone %>
    <%= f.text_field :celphone %>
  </div>

  <div class="field">
    <%= f.label :bio %>
    <%= f.text_area :bio %>
  </div>    

  <%= f.fields_for :address do |ff| %>
    <div class="field">
      <%= ff.label :addresstype %>
      <%= ff.select(:addresstype, ['Residencial', 'Comercial'], {include_blank: true})%>
    </div>

    <div class="field">
      <%= ff.label :street %>
      <%= ff.text_field :street %>
    </div>

    <div class="field">
      <%= ff.label :district %>
      <%= ff.text_field :district %>
    </div>

    <div class="field">
      <%= ff.label :city %>
      <%= ff.text_field :city %>
    </div>

    <div class="field">
      <%= ff.label :state %>
      <%= ff.text_field :state %>
    </div>

    <div class="field">
      <%= ff.label :country %>
      <%= ff.text_field :country %>
    </div>

  <div class="field">
    <%= ff.label :zipcode %>
    <%= ff.text_field :zipcode %>
  </div>

  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
