<div id="dv-search">
  <strong id="notice"><%= notice %></strong>
  <%= search_form_for @q do |f| %>
    <div id="fields-search"><%= f.search_field :cpf_cont, placeholder: 'CPF do Cliente' %></div>
    <%= f.submit 'Pesquisar', class:'btn', :id => 'btn-search'%>
    <%= link_to 'Novo Cliente', new_client_path, class: 'btn', :id =>'btn-novo' %>
  <% end %>
</div>
<div class="main">
  <table>
    <thead>
      <tr>
        <th class="title-tb">Nome</th>
        <th class="title-tb">CPF</th>
      </tr>
    </thead>
  
    <tbody>
      <% @clients.each do |client| %>
        <tr>
          <td><%= link_to client.name, client %></td>
          <td><%= client.cpf %></td> 
        </tr>
      <% end %>
    </tbody>
  </table>
  <div class="paginate"><%= will_paginate @clients %></div>
</div>