<ul class="show-client client-dados">
  <li>Nome: <%= "#{@client.name} " " "" #{@client.lastname}" %></li>
  <li>Data de Nascimento: <%= @client.born %></li>  
  <li>Sexo: <%= @client.sex %></li>  
  <li>CPF: <%= @client.cpf %></li>  
  <li>RG: <%= @client.rg %></li>  
  <li>Biografia: <%= @client.bio %></li>
</ul>


<ul class="show-client client-dados">
  <li>Email: <%= @client.email %></li>  
  <li>Telefone: <%= @client.telephone %></li>
  <li>Celular: <%= @client.celphone %></li>
</ul>


<ul class="show-client client-dados">
  <li>Tipo de Endereço: <%= @client.address.addresstype %></li>
  <li>Rua: <%= @client.address.street %></li>
  <li>Bairro: <%= @client.address.district %></li>  
  <li>Cidade: <%= @client.address.city %></li>  
  <li>Estado: <%= @client.address.state %></li>   
  <li>CEP: <%= @client.address.zipcode %></li>    
</ul>