<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @client.name %>
  <%= $ID_CLIENT %>
</p>

<p>
  <strong>Born:</strong>
  <%= @client.born %>
</p>

<p>
  <strong>Sex:</strong>
  <%= @client.sex %>
</p>

<p>
  <strong>Cpf:</strong>
  <%= @client.cpf %>
</p>

<p>
  <strong>Rg:</strong>
  <%= @client.rg %>
</p>

<p>
  <strong>Email:</strong>
  <%= @client.email %>
</p>

<p>
  <strong>Telephone:</strong>
  <%= @client.telephone %>
</p>

<p>
  <strong>Celphone:</strong>
  <%= @client.celphone %>
</p>

<p>
  <strong>Bio:</strong>
  <%= @client.bio %>
</p>

<p>
 <p>
  <strong>Street:</strong>
  <%= @client.address.street %>
</p>

<p>
  <strong>District:</strong>
  <%= @client.address.district %>
</p>

<p>
  <strong>City:</strong>
  <%= @client.address.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @client.address.state %>
</p>

<p>
  <strong>Country:</strong>
  <%= @client.address.country %>
</p>

<p>
  <strong>Zipcode:</strong>
  <%= @client.address.zipcode %>
</p>

<p>
  <strong>Addresstype:</strong>
  <%= @client.address.addresstype %>
</p>
</p>

<p>
  <strong>User:</strong>
  <%= @client.user.email %>
</p>

<%= link_to 'Edit', edit_client_path(@client) %> |
<%= link_to 'Back', clients_path %>

<strong><%= link_to 'Novo Processo', new_lawsuit_path %></strong>