<p id="notice"><%= notice %></p>

<h1>Status Payments</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @status_payments.each do |status_payment| %>
      <tr>
        <td><%= status_payment.name %></td>
        <td><%= link_to 'Show', status_payment %></td>
        <td><%= link_to 'Edit', edit_status_payment_path(status_payment) %></td>
        <td><%= link_to 'Destroy', status_payment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Status Payment', new_status_payment_path %>
