<div class="main">
	<ul>
		<li> 
			<%= link_to lawsuits_path do %>
				<span class="material-icons">library_books<p>Processos</p></span>
			<% end %>
		</li>

		<li>
			<%= link_to clients_path do %>
				<span class="material-icons">supervisor_account<p>Clientes</p></span>
			<% end %>
		</li>

		<li>
			<%= link_to lawsuits_path do %> 
				<span class="material-icons">assignment<p>Relatório<br>Financeiro</p></span>
			<% end %>
		</li>

		<li>
			<%= link_to lawsuits_path do %> 
				<span class="material-icons">assignment<p>Relatório de<br>Processos</p></span>
			<% end %>
		</li>
	</ul>

	<div class="processos">
		<table>
		  <thead>
		    <tr>
		      <th class="title-tb">Processo</th>
		      <th class="title-tb">Cliente</th>
		      <th colspan="3"></th>
		    </tr>
		  </thead>

		  <tbody>
		    <% @lawsuits.each do |lawsuit| %>
		      <tr>
		        <td class="nro-processo"><%= link_to lawsuit.number, lawsuit %></td>
		        <td><%= link_to lawsuit.client.name, lawsuit.client %></td>
		    <% end %>
		  </tbody>
		</table>
		<%= will_paginate @lawsuits %>
	</div>
</div>