<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @data_user.name %>
</p>

<p>
  <strong>Born:</strong>
  <%= @data_user.born %>
</p>

<p>
  <strong>Sex:</strong>
  <%= @data_user.sex %>
</p>

<p>
  <strong>Office:</strong>
  <%= @data_user.office.name %>
</p>

<p>
  <strong>User:</strong>
  <%= @data_user.user.email %>
</p>

<%= link_to 'Edit', edit_data_user_path(@data_user) %> |
<%= link_to 'Back', data_users_path %>
