<!DOCTYPE html>
<html>
  <head>
    <title>OrbTech - Sistema de Advocacia</title>
    <%= csrf_meta_tags %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Sistema para Gerenciar escritório de Advocacia.">
    <meta name="keywords" content="Advocacia, Sistema, OrbTech">
    <meta name="robots" content="index, follow">
    <meta name="author" content="Obedio Albuquerque">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Taviraj" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
 	  <header class="bg-gradiente">
 	    <strong>Sistema de Gestão de Escritório de Advocacia</strong>
    </header>
    <div class="menu">
		  <% if user_signed_in? %>
        <%= link_to destroy_user_session_path, method: :delete do %>
          <span class="bar-icon material-icons">exit_to_app</span>
        <% end %>
        <%= link_to profiles_path do %> 
          <span class="material-icons bar-icon">account_circle</span>
        <% end %>
      <% end %>
	  </div>
	  <div id="dv-main">
      <% if user_signed_in? %>
        <nav id="menu">
          <ul>
            <li><%= link_to 'Início', root_path %></li>
            <li><%= link_to 'Processos', lawsuits_path %></li>
            <li><%= link_to 'Clientes', clients_path %></li>
            <li><%= link_to 'Relatórios', lawsuits_path %></li>
          </ul>
        </nav>
      <% end %>
      <%= yield %>
  </div>
    <footer class="bg-gradiente">
    	<strong class="text-footer">Copyright @ OrbTech 2017. Todos direitos reservados</strong>	
    </footer>
  </body>
</html>