<!DOCTYPE html>
<html>
  <head>
    <title>OrbTech - Sistema de Advocacia</title>
    <%= csrf_meta_tags %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Sistema para Gerenciar escritório de Advocacia.">
    <meta name="keywords" content="Advocacia, Sistema, OrbTech">
    <meta name="robots" content="index, follow">
    <meta name="author" content="Obedio Albuquerque">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <meta rel="stylesheet" type="text/css" href="../../assets/stylesheets/application.css">
    <link href="https://fonts.googleapis.com/css?family=Taviraj" rel="stylesheet">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
 	  <header class="bg-gradiente">
 	    <strong>Sistema de Gestão de Escritório de Advocacia</strong>
    </header>
    <div class="menu">
		  <% if user_signed_in? %>
        <%= link_to destroy_user_session_path, method: :delete do %>
          <span class="bar-icon bar-icon1 material-icons">exit_to_app</span>
        <% end %>
        <%= link_to data_users_path do %> 
          <span class="material-icons bar-icon">account_circle</span>
        <% end %>
      <% end %>
	  </div>
    <% if user_signed_in? %>
      <div class="main">
        <ul>
          <li> 
            <%= link_to root_path do %>
              <span class="material-icons">home<p>Início</p></span>
            <% end %>
          </li>
          <li> 
            <%= link_to lawsuits_path do %>
              <span class="material-icons">library_books<p>Processos</p></span>
            <% end %>
          </li>

          <li>
            <%= link_to clients_path do %>
              <span class="material-icons">supervisor_account<p>Clientes</p></span>
            <% end %>
          </li>

          <li>
            <%= link_to lawsuits_path do %> 
              <span class="material-icons">assignment<p>Relatório<br>Financeiro</p></span>
            <% end %>
          </li>

          <li>
            <%= link_to lawsuits_path do %> 
              <span class="material-icons">assignment<p>Relatório de<br>Processos</p></span>
            <% end %>
          </li>
        </ul>
      </div>
    <% end %>
    <%= yield %>
    <footer class="bg-gradiente">
    	<strong class="text-footer">Copyright @ OrbTech 2017. Todos direitos reservados</strong>	
    </footer>
  </body>
</html>