<!DOCTYPE html>
<html>
  <head>
    <title>OrbTech - Sistema de Advocacia</title>
    <%= csrf_meta_tags %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Sistema para Gerenciar escritório de Advocacia.">
    <meta name="keywords" content="Advocacia, Sistema, OrbTech">
    <meta name="robots" content="index, follow">
    <meta name="author" content="Obedio Albuquerque">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <meta rel="stylesheet" type="text/css" href="../../assets/stylesheets/application.css">
    <link href="https://fonts.googleapis.com/css?family=Taviraj" rel="stylesheet">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
 	  <header class="bg-gradiente">
    <% if notice != nil %>
      <span class="left-icon fa fa-exclamation-triangle" aria-hidden="true"><%= notice %></span>
    <%end%>
    
      <% if user_signed_in? %>
        <%= link_to data_users_path do %> 
          <span class="fa fa-user bar-icon" aria-hidden="true"><strong class="bar-icon bar-words1">Eu</strong></span>
        <% end %>
        <%= link_to destroy_user_session_path, method: :delete do %>
          <span class="bar-icon fa fa-sign-out" aria-hidden="true"><strong class="bar-icon bar-words">Sair</strong></span>
        <% end %>
      <% end %>
    </header>
    <%= yield %>
    <footer class="bg-gradiente">
    	<strong class="text-footer">Copyright @ OrbTech 2016. Todos direitos reservados</strong>	
    </footer>
  </body>
</html>