<%= form_for(account) do |f| %>
  <% if account.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(account.errors.count, "error") %> prohibited this account from being saved:</h2>

      <ul>
      <% account.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :amount %>
    <%= f.text_field :amount %>
  </div>

  <div class="field">
    <%= f.label :amount_paid %>
    <%= f.text_field :amount_paid %>
  </div>

  <div class="field">
    <%= f.label :payday %>
    <%= f.number_field :payday %>
  </div>

  <div class="field">
    <%= f.label :lawsuit_id %>
    <%= f.text_field :lawsuit_id %>
  </div>

  <div class="field">
    <%= f.label :client_id %>
    <%= f.text_field :client_id %>
  </div>

  <div class="field">
    <%= f.label :user_id %>
    <%= f.text_field :user_id %>
  </div>

  <div class="field">
    <%= f.label :statuspayment_id %>
    <%= f.text_field :statuspayment_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
