<p id="notice"><%= notice %></p>

<p>
  <strong>Amount:</strong>
  <%= @account.amount %>
</p>

<p>
  <strong>Amount paid:</strong>
  <%= @account.amount_paid %>
</p>

<p>
  <strong>Payday:</strong>
  <%= @account.payday %>
</p>

<p>
  <strong>Lawsuit:</strong>
  <%= @account.lawsuit %>
</p>

<p>
  <strong>Client:</strong>
  <%= @account.client %>
</p>

<p>
  <strong>User:</strong>
  <%= @account.user %>
</p>

<p>
  <strong>Statuspayment:</strong>
  <%= @account.statuspayment %>
</p>

<%= link_to 'Edit', edit_account_path(@account) %> |
<%= link_to 'Back', accounts_path %>
